################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FodmApp/appsettings.Development.json
/FodmApp/appsettings.json
/FodmApp/aws-beanstalk-tools-defaults.json
